apiVersion: v1
kind: DeploymentConfig
name: '{{ deployment_name }}'
namespace: '{{ namespace }}'
labels:
  app: '{{ application_name }}'
  service: '{{ service_name }}'
spec:
  selector:
    app: '{{ application_name }}'
    service: '{{ service_name }}'
  triggers:
    - type: ConfigChange
    - type: ImageChange
      imageChangeParams:
        automatic: true
        containerNames:
          - mysql
        _from:
          kind: ImageStreamTag
          name: '{{ mysql_image_name }}:{{ mysql_image_tag }}'
          namespace: '{{ mysql_image_namespace }}'
  replicas: 1
  template:
    metadata:
      labels:
        app: '{{ application_name }}'
        service: '{{ service_name }}'
    spec:
      containers:
        - name: mysql
          env:
            - name: MYSQL_DATABASE
              value: '{{ mysql_database }}'
            - name: MYSQL_USER
              value: '{{ mysql_user }}'
            - name: MYSQL_PASSWORD
              value: '{{ mysql_pwd }}'
          image: ' '
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 3306
              protocol: TCP
          volumeMounts:
            - name: mysql-data
              mountPath: /var/lib/mysql/data
          workingDir: /
      volumes:
      - name: mysql-data
{% if mysql_volume_size == "" %}
        emptyDir: []
{% else %}
        persistentVolumeClaim:
          claimName: '{{ deployment_name }}'
{% endif %}
