kind: DeploymentConfig
apiVersion: v1
metadata:
  name: {{ businesscentral_deployment_name }}
  namespace: {{ namespace }}
  labels:
    app: {{ businesscentral_deployment_name }}
    application: {{ application_name }}
    service: {{ businesscentral_service_name }}
spec:
  strategy:
    type: Recreate
  triggers:
    - type: ImageChange
      imageChangeParams:
        automatic: true
        containerNames:
        - businesscentral-monitoring
        from:
          kind: ImageStreamTag
          namespace: '{{ businesscentral_image_namespace }}'
          name: '{{ businesscentral_image_name }}:{{ businesscentral_image_tag}}'
    - type: ConfigChange
  replicas: {{ businesscentral_replicas }}
  selector:
    deploymentConfig: '{{ businesscentral_deployment_name }}'
  template:
    metadata:
      name: '{{ businesscentral_deployment_name }}'
      labels:
        app: '{{ businesscentral_deployment_name }}'
        application: '{{ application_name }}'
        service: '{{ businesscentral_service_name }}'
        deploymentConfig: '{{ businesscentral_deployment_name }}'
    spec:
      serviceAccountName: '{{ service_account_name }}'
      terminationGracePeriodSeconds: 60
      containers:
        - name: businesscentral-monitoring
          image: ' '
          imagePullPolicy: '{{ businesscentral_image_pull_policy }}'
          resources:
            limits:
              memory: '{{ businesscentral_limits_memory }}'
          livenessProbe:
            httpGet:
              path: /rest/healthy
              port: 8080
              scheme: HTTP
            initialDelaySeconds: 180
            timeoutSeconds: 2
            periodSeconds: 15
          readinessProbe:
            httpGet:
              path: /rest/ready
              port: 8080
              scheme: HTTP
            initialDelaySeconds: 30
            timeoutSeconds: 2
            periodSeconds: 5
            failureThreshold: 36
          ports:
            - name: jolokia
              containerPort: 8778
              protocol: TCP
            - name: http
              containerPort: 8080
              protocol: TCP
            - name: https
              containerPort: 8443
              protocol: TCP
            - name: ping
              containerPort: 8888
              protocol: TCP
          env:
            - name: KIE_ADMIN_USER
              value: '{{ kie_admin_user }}'
            - name: KIE_ADMIN_PWD
              value: '{{ kie_admin_pwd }}'
            - name: KIE_MBEANS
              value: "enabled"
            - name: KIE_SERVER_CONTROLLER_USER
              value: '{{ controller_user }}'
            - name: KIE_SERVER_CONTROLLER_PWD
              value: '{{ controller_pwd }}'
            - name: KIE_SERVER_USER
              value: '{{ kie_execution_user }}'
            - name: KIE_SERVER_PWD
              value: '{{ kie_execution_pwd }}'
            - name: MAVEN_REPO_URL
              value: '{{ external_maven_repo_url }}'
            - name: MAVEN_REPO_ID
              value: '{{ external_maven_repo_id }}'
            - name: MAVEN_REPO_USERNAME
              value: '{{ external_maven_repo_user }}'
            - name: MAVEN_REPO_PASSWORD
              value: '{{ external_maven_repo_pwd }}'
            - name: HTTPS_KEYSTORE_DIR
              value: "/etc/businesscentral-certs"
            - name: HTTPS_KEYSTORE
              value: '{{ businesscentral_keystore_name }}'
            - name: HTTPS_NAME
              value: '{{ businesscentral_keystore_alias }}'
            - name: HTTPS_PASSWORD
              value: '{{ businesscentral_keystore_pwd }}'
## OpenShift Enhancement BEGIN
            - name: KIE_SERVER_CONTROLLER_OPENSHIFT_GLOBAL_DISCOVERY_ENABLED
              value: "{{ controller_global_discovery }}"
            - name: KIE_SERVER_CONTROLLER_OPENSHIFT_PREFER_KIESERVER_SERVICE
              value: "{{ controller_prefer_kieserver_svc }}"
            - name: KIE_SERVER_CONTROLLER_TEMPLATE_CACHE_TTL
              value: "{{ controller_template_cache_ttl }}"
            - name: KIE_WORKBENCH_CONTROLLER_OPENSHIFT_ENABLED
              value: "true"
## OpenShift Enhancement END
{% if maven_mirror_url %}
            - name: MAVEN_MIRROR_URL
              value: "{{ maven_mirror_url }}"
{% endif %}
{% if sso_url != "" %}
            - name: SSO_URL
              value: '{{ sso_url }}'
            - name: SSO_OPENIDCONNECT_DEPLOYMENTS
              value: "ROOT.war"
            - name: SSO_REALM
              value: '{{ sso_realm }}'
            - name: SSO_CLIENT
              value: '{{ businesscentral_sso_client }}'
            - name: SSO_SECRET
              value: '{{ businesscentral_sso_client_secret }}'
            - name: SSO_USERNAME
              value: '{{ sso_user }}'
            - name: SSO_PASSWORD
              value: '{{ sso_pwd }}'
            - name: SSO_DISABLE_SSL_CERTIFICATE_VALIDATION
              value: '{{ sso_disable_ssl_cert_validation }}'
            - name: SSO_PRINCIPAL_ATTRIBUTE
              value: '{{ sso_principal_attribute }}'
            - name: HOSTNAME_HTTPS
              value: "{{ bcm_host | default('') }}"
{% endif %}
{% if auth_ldap_url != "" %}
            - name: AUTH_LDAP_URL
              value: '{{ auth_ldap_url }}'
            - name: AUTH_LDAP_BIND_DN
              value: '{{ auth_ldap_bind_dn }}'
            - name: AUTH_LDAP_BIND_CREDENTIAL
              value: '{{ auth_ldap_bind_credential }}'
            - name: AUTH_LDAP_JAAS_SECURITY_DOMAIN
              value: '{{ auth_ldap_jaas_security_domain }}'
            - name: AUTH_LDAP_BASE_CTX_DN
              value: '{{ auth_ldap_base_ctx_dn }}'
            - name: AUTH_LDAP_BASE_FILTER
              value: '{{ auth_ldap_base_filter }}'
            - name: AUTH_LDAP_SEARCH_SCOPE
              value: '{{ auth_ldap_search_scope }}'
            - name: AUTH_LDAP_SEARCH_TIME_LIMIT
              value: '{{ auth_ldap_search_time_limit }}'
            - name: AUTH_LDAP_DISTINGUISHED_NAME_ATTRIBUTE
              value: '{{ auth_ldap_distinguished_name_attribute }}'
            - name: AUTH_LDAP_PARSE_USERNAME
              value: '{{ auth_ldap_parse_username }}'
            - name: AUTH_LDAP_USERNAME_BEGIN_STRING
              value: '{{ auth_ldap_username_begin_string }}'
            - name: AUTH_LDAP_USERNAME_END_STRING
              value: '{{ auth_ldap_username_end_string }}'
            - name: AUTH_LDAP_ROLE_ATTRIBUTE_ID
              value: '{{ auth_ldap_role_attribute_id }}'
            - name: AUTH_LDAP_ROLES_CTX_DN
              value: '{{ auth_ldap_roles_ctx_dn }}'
            - name: AUTH_LDAP_ROLE_FILTER
              value: '{{ auth_ldap_role_filter }}'
            - name: AUTH_LDAP_ROLE_RECURSION
              value: '{{ auth_ldap_role_recursion }}'
            - name: AUTH_LDAP_DEFAULT_ROLE
              value: '{{ auth_ldap_default_role }}'
            - name: AUTH_LDAP_ROLE_NAME_ATTRIBUTE_ID
              value: '{{ auth_ldap_role_name_attribute_id }}'
            - name: AUTH_LDAP_PARSE_ROLE_NAME_FROM_DN
              value: '{{ auth_ldap_parse_role_name_from_dn }}'
            - name: AUTH_LDAP_ROLE_ATTRIBUTE_IS_DN
              value: '{{ auth_ldap_role_attribute_is_dn }}'
            - name: AUTH_LDAP_REFERRAL_USER_ATTRIBUTE_ID_TO_CHECK
              value: '{{ auth_ldap_referral_user_attribute_id_to_check }}'
{% endif %}
{% if auth_role_mapper_roles_properties != "" %}
            - name: AUTH_ROLE_MAPPER_ROLES_PROPERTIES
              value: '{{ auth_role_mapper_roles_properties }}'
            - name: AUTH_ROLE_MAPPER_REPLACE_ROLE
              value: '{{ auth_role_mapper_replace_role }}'
{% endif %}
            - name: JGROUPS_PING_PROTOCOL
              value: "openshift.DNS_PING"
            - name: OPENSHIFT_DNS_PING_SERVICE_NAME
              value: '{{ businesscentral_deployment_name }}-ping'
            - name: OPENSHIFT_DNS_PING_SERVICE_PORT
              value: "8888"
          volumeMounts:
            - name: businesscentral-certs
              mountPath: "/etc/businesscentral-certs"
              readOnly: true
            - name: businesscentral-data
              mountPath: "/opt/kie/data"
      volumes:
        - name: businesscentral-certs
          secret:
            secretName: {{ bcm_secret_name }}
        - name: businesscentral-data
{% if businesscentral_volume_size != "" %}
          persistentVolumeClaim:
            claimName: '{{ businesscentral_deployment_name }}-data'
{% else %}
          emptyDir: {}
{% endif %}
