kind: DeploymentConfig
apiVersion: v1
metadata:
  name: {{ businesscentral_deployment_name }}
  namespace: {{ namespace }}
  labels:
    app: {{ application_name }}
    service: {{ businesscentral_service_name }}
spec:
  triggers:
    - type: ImageChange
      imageChangeParams:
        automatic: true
        containerNames:
          - businesscentral
        _from:
          kind: ImageStreamTag
          namespace: '{{ businesscentral_image_namespace }}'
          name: '{{ businesscentral_image_name }}:{{ businesscentral_image_tag}}'
    - type: ConfigChange
  replicas: 1
  selector:
    app: '{{ application_name }}'
    service: {{ businesscentral_service_name }}
  template:
    metadata:
      name: '{{ businesscentral_deployment_name }}'
      labels:
        app: '{{ application_name }}'
        service: {{ businesscentral_service_name }}
    spec:
      containers:
        - name: businesscentral
          image: ' '
          imagePullPolicy: '{{ businesscentral_image_pull_policy }}'
          resources:
            limits:
              memory: '{{ businesscentral_limits_memory }}'
          livenessProbe:
            httpGet:
              path: /kie-wb.jsp
              port: 8080
            initialDelaySeconds: 180
            timeoutSeconds: 2
            periodSeconds: 15
          readinessProbe:
            httpGet:
              path: /kie-wb.jsp
              port: 8080
            initialDelaySeconds: 30
            timeoutSeconds: 2
            periodSeconds: 15
            failureThreshold: 10
          ports:
            - name: jolokia
              containerPort: 8778
              protocol: TCP
            - name: http
              containerPort: 8080
              protocol: TCP
            - name: https
              containerPort: 8443
              protocol: TCP
            - name: git-ssh
              containerPort: 8001
              protocol: TCP
          env:
            - name: KIE_ADMIN_USER
              value: '{{ kie_admin_user }}'
            - name: KIE_ADMIN_PWD
              value: '{{ kie_admin_pwd }}'
            - name: KIE_MBEANS
              value: "enabled"
            - name: KIE_SERVER_CONTROLLER_USER
              value: '{{ controller_user }}'
            - name: KIE_SERVER_CONTROLLER_PWD
              value: '{{ controller_pwd }}'
            - name: KIE_SERVER_USER
              value: '{{ kie_execution_user }}'
            - name: KIE_SERVER_PWD
              value: '{{ kie_execution_pwd }}'
{% if external_maven_repo_url != "" %}
            - name: MAVEN_REPO_URL
              value: '{{ external_maven_repo_url }}'
            - name: MAVEN_REPO_USERNAME
              value: '{{ external_maven_repo_user }}'
            - name: MAVEN_REPO_PASSWORD
              value: '{{ external_maven_repo_pwd }}'
{% endif %}
            - name: KIE_MAVEN_USER
              value: '{{ businesscentral_maven_repo_user }}'
            - name: KIE_MAVEN_PWD
              value: '{{ businesscentral_maven_repo_pwd }}'
            - name: HTTPS_KEYSTORE_DIR
              value: "/etc/businesscentral-certs"
            - name: HTTPS_KEYSTORE
              value: '{{ businesscentral_keystore_name }}'
            - name: HTTPS_NAME
              value: '{{ businesscentral_keystore_alias }}'
            - name: HTTPS_PASSWORD
              value: '{{ businesscentral_keystore_pwd }}'
            - name: ADMIN_USERNAME
              value: '{{ eap_admin_user }}'
            - name: ADMIN_PASSWORD
              value: '{{ eap_admin_pwd }}'
            - name: PROBE_IMPL
              value: probe.eap.jolokia.EapProbe
            - name: PROBE_DISABLE_BOOT_ERRORS_CHECK
              value: 'true'
{% if sso_url != "" %}
            - name: SSO_URL
              value: '{{ sso_url }}'
            - name: SSO_OPENIDCONNECT_DEPLOYMENTS
              value: "ROOT.war"
            - name: SSO_SECRET
              value: '{{ sso_client_secret }}'
            - name: SSO_REALM
              value: '{{ sso_realm }}'
            - name: SSO_CLIENT
              value: '{{ sso_client }}'
            - name: SSO_USERNAME
              value: '{{ sso_user }}'
            - name: SSO_PASSWORD
              value: '{{ sso_pwd }}'
            - name: SSO_DISABLE_SSL_CERTIFICATE_VALIDATION
              value: '{{ sso_disable_ssl_cert_validation }}'
            - name: HOSTNAME_HTTPS
              value: '{{ route_raw.result.spec.host }}'
{% endif %}
          volumeMounts:
            - name: businesscentral-certs
              mountPath: "/etc/businesscentral-certs"
              readOnly: true
            - name: businesscentral-data
              mountPath: "/opt/eap/standalone/data/bpmsuite"
      volumes:
        - name: businesscentral-certs
          secret:
            secretName: {{ bc_secret_name }}
        - name: businesscentral-data
{% if businesscentral_volume_size != "" %}
          persistentVolumeClaim:
            claimName: '{{ businesscentral_deployment_name }}-data'
{% else %}
          emptyDir: {}
{% endif %}
